## ETL operation for regions

In [5]:
import pandas as pd

# Loaded variable 'df' from URI
URI = '../datas/regions.xlsx'
df = pd.read_excel(URI)

# Remove the prefix 'ERROR' in regions_name
df['region_name'] = df['region_name'].str.replace('^ERROR','', regex=True)

# Capitalize the first letter of region_name since it is a region name
df['region_name'] = df['region_name'].str.capitalize()
df

    region_id                 region_name  country_id
0           1               Île-de-france           1
1           2  Provence-alpes-côte d'azur           1
2           3        Auvergne-rhône-alpes           1
3           4          Nouvelle-aquitaine           1
4           5                     Bavaria           2
5           6      North rhine-westphalia           2
6           7           Baden-württemberg           2
7           8                       Hesse           2
8           9                   Catalonia           3
9          10                      Madrid           3
10         11                   Andalusia           3
11         12                    Valencia           3
12         13                    Lombardy           4
13         14                       Lazio           4
14         15                    Campania           4
15         16                      Sicily           4
16         17              Greater london           5
17         18                    Scotland           5
18         19                       Wales           5
19         20            Northern ireland           5
20         21               North holland           6
21         22               South holland           6
22         23                     Utrecht           6
23         24                  Gelderland           6
24         25                    Flanders           7
25         26                    Wallonia           7
26         27                    Brussels           7
27         28                   Stockholm           8
28         29                  Gothenburg           8
29         30                       Malmö           8
30         31                        Oslo           9
31         32                      Bergen           9
32         33                   Trondheim           9
33         34                  Copenhagen          10
34         35                      Aarhus          10
35         36                      Odense          10

## Generate the cleaned file

In [6]:
df.to_excel('../output_datas/regions_v2.xlsx',index=False)